In [89]:
import pandas as pd
df = pd.read_csv("mock_gbm.csv")
df

df.drop(["MAJOR3", "MAJOR4", "MINOR3", "MINOR4"], axis=1, inplace=True)
df.drop(df.index[df["COLL1"] == "BUS"], inplace=True)
df

,ID,REG_TERM,CLASS_LEVEL,COLL1,COLL2,MAJOR1,MAJOR2,MINOR1,MINOR2,FirstTerm_BM,LastTerm_BM,Student_Status,FIN221_IND,ACCY200_IND,ACCY201_IND,ACCY202_IND,BADM310_IND,BADM320_IND,BM_Grad_IND,CoreIND
0,1,120221,Freshman,LER,NaN,Labor & Employment Relations,NaN,NaN,NaN,120161.0,NaN,BM-NEW,0,0,0,0,0,0,0,No
2,3,120221,Sophomore,LAS,NaN,Biology,NaN,NaN,NaN,120161.0,NaN,Other,0,0,0,0,0,0,0,No
4,5,120231,Sophomore,EDUC,NaN,Special Education,NaN,Business,NaN,120151.0,NaN,Other,0,0,0,0,0,0,0,No
5,6,120178,Junior,LAW,NaN,Law (Undergrad Non-Degree/Pre-Law),NaN,Business,NaN,120151.0,NaN,Other,0,0,0,0,0,0,0,No
6,7,120178,Sophomore,GCOE,NaN,CS+Philosophy,NaN,Business,NaN,120151.0,120161.0,Other,0,0,0,0,0,1,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,120151,Freshman,GCOE,NaN,Industrial Engineering,NaN,Business,NaN,120151.0,NaN,BM-NEW,0,0,0,0,0,0,0,No
996,997,120201,Junior,DGS,NaN,Undeclared (Division of General Studies),NaN,NaN,NaN,120161.0,120161.0,Other,0,0,0,0,0,0,0,No
997,998,120228,Senior,LAS,NaN,Classics,NaN,NaN,NaN,NaN,NaN,Other,0,0,0,0,0,0,0,No
998,999,120161,Junior,LAS,NaN,Classics,NaN,Business,NaN,120151.0,120201.0,BM-RETURNING,0,0,0,0,0,0,1,No
999,1000,120161,Sophomore,FAA,NaN,Music Technology,NaN,NaN,NaN,NaN,NaN,Other,0,0,0,0,0,1,0,Yes

In [91]:
df["COLL2"] = df["COLL2"].fillna("None")
df["LastTerm_BM"] = df["LastTerm_BM"].fillna(0)
df["FirstTerm_BM"] = df["FirstTerm_BM"].fillna(0)
df["MAJOR2"] = df["MAJOR2"].fillna("None")
df["MINOR1"] = df["MINOR1"].fillna("None")
df["MINOR2"] = df["MINOR2"].fillna("None")
df["CoreIND"] = df["CoreIND"].replace({"No": "Not started", "Yes": "Started"})
df

,ID,REG_TERM,CLASS_LEVEL,COLL1,COLL2,MAJOR1,MAJOR2,MINOR1,MINOR2,FirstTerm_BM,LastTerm_BM,Student_Status,FIN221_IND,ACCY200_IND,ACCY201_IND,ACCY202_IND,BADM310_IND,BADM320_IND,BM_Grad_IND,CoreIND
0,1,120221,Freshman,LER,None,Labor & Employment Relations,None,None,None,120161.0,0.0,BM-NEW,0,0,0,0,0,0,0,Not started
2,3,120221,Sophomore,LAS,None,Biology,None,None,None,120161.0,0.0,Other,0,0,0,0,0,0,0,Not started
4,5,120231,Sophomore,EDUC,None,Special Education,None,Business,None,120151.0,0.0,Other,0,0,0,0,0,0,0,Not started
5,6,120178,Junior,LAW,None,Law (Undergrad Non-Degree/Pre-Law),None,Business,None,120151.0,0.0,Other,0,0,0,0,0,0,0,Not started
6,7,120178,Sophomore,GCOE,None,CS+Philosophy,None,Business,None,120151.0,120161.0,Other,0,0,0,0,0,1,0,Started
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,120151,Freshman,GCOE,None,Industrial Engineering,None,Business,None,120151.0,0.0,BM-NEW,0,0,0,0,0,0,0,Not started
996,997,120201,Junior,DGS,None,Undeclared (Division of General Studies),None,None,None,120161.0,120161.0,Other,0,0,0,0,0,0,0,Not started
997,998,120228,Senior,LAS,None,Classics,None,None,None,0.0,0.0,Other,0,0,0,0,0,0,0,Not started
998,999,120161,Junior,LAS,None,Classics,None,Business,None,120151.0,120201.0,BM-RETURNING,0,0,0,0,0,0,1,Not started
999,1000,120161,Sophomore,FAA,None,Music Technology,None,None,None,0.0,0.0,Other,0,0,0,0,0,1,0,Started

In [ ]:
df.groupby("BM_Grad_IND").agg("count").reset_index()
df_new = df[df["BM_Grad_IND"] == 1]
df_new

,ID,REG_TERM,CLASS_LEVEL,COLL1,COLL2,MAJOR1,MAJOR2,MINOR1,MINOR2,FirstTerm_BM,LastTerm_BM,Student_Status,FIN221_IND,ACCY200_IND,ACCY201_IND,ACCY202_IND,BADM310_IND,BADM320_IND,BM_Grad_IND,CoreIND
24,25,120228,Freshman,LAS,None,"Russian, E European & Eurasian Studies",None,Business,None,120201.0,120201.0,Gies,0,0,0,0,0,0,1,Not started
107,108,120228,Sophomore,LAS,None,Comparative Literature,None,None,Informatics,0.0,0.0,Other,0,0,0,0,0,0,1,Not started
286,287,120221,Junior,GCOE,None,CS+Geography & GIS,None,Business,None,0.0,120161.0,Other,0,0,0,0,0,0,1,Not started
332,333,120161,Senior,LAS,None,Biology,None,None,None,120161.0,120161.0,Other,0,0,0,0,0,0,1,Not started
448,449,120155,Junior,LAS,None,Astronomy,None,Business,None,0.0,120201.0,BM-NEW,0,0,0,0,0,0,1,Not started
652,653,120221,Senior,GCOE,None,Chemical Engineering,None,Business,None,0.0,120231.0,BM-RETURNING,0,0,0,0,0,0,1,Not started
809,810,120151,Junior,LAS,None,Psychology,None,Business,None,0.0,120201.0,Other,0,0,0,0,0,0,1,Not started
832,833,120201,Senior,DGS,None,Undeclared (Division of General Studies),None,None,None,120151.0,120161.0,Gies,0,0,0,0,0,0,1,Not started
856,857,120151,Senior,EDUC,None,Early Childhood Education,None,None,None,0.0,120201.0,Other,0,0,0,0,0,0,1,Not started
882,883,120231,Senior,FAA,None,Art History,None,None,None,0.0,0.0,Other,0,0,0,0,0,0,1,Not started
885,886,120201,Senior,GCOE,None,Materials Science & Engineering,None,None,None,0.0,120231.0,BM-NEW,0,0,0,0,0,0,1,Not started
998,999,120161,Junior,LAS,None,Classics,None,Business,None,120151.0,120201.0,BM-RETURNING,0,0,0,0,0,0,1,Not started

In [94]:
df_new = df[df["BM_Grad_IND"] == 0]
df_new

,ID,REG_TERM,CLASS_LEVEL,COLL1,COLL2,MAJOR1,MAJOR2,MINOR1,MINOR2,FirstTerm_BM,LastTerm_BM,Student_Status,FIN221_IND,ACCY200_IND,ACCY201_IND,ACCY202_IND,BADM310_IND,BADM320_IND,BM_Grad_IND,CoreIND
0,1,120221,Freshman,LER,None,Labor & Employment Relations,None,None,None,120161.0,0.0,BM-NEW,0,0,0,0,0,0,0,Not started
2,3,120221,Sophomore,LAS,None,Biology,None,None,None,120161.0,0.0,Other,0,0,0,0,0,0,0,Not started
4,5,120231,Sophomore,EDUC,None,Special Education,None,Business,None,120151.0,0.0,Other,0,0,0,0,0,0,0,Not started
5,6,120178,Junior,LAW,None,Law (Undergrad Non-Degree/Pre-Law),None,Business,None,120151.0,0.0,Other,0,0,0,0,0,0,0,Not started
6,7,120178,Sophomore,GCOE,None,CS+Philosophy,None,Business,None,120151.0,120161.0,Other,0,0,0,0,0,1,0,Started
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,995,120178,Sophomore,GCOE,None,Bioengineering,None,None,Communication,0.0,0.0,BM-RETURNING,0,0,0,0,0,0,0,Not started
995,996,120151,Freshman,GCOE,None,Industrial Engineering,None,Business,None,120151.0,0.0,BM-NEW,0,0,0,0,0,0,0,Not started
996,997,120201,Junior,DGS,None,Undeclared (Division of General Studies),None,None,None,120161.0,120161.0,Other,0,0,0,0,0,0,0,Not started
997,998,120228,Senior,LAS,None,Classics,None,None,None,0.0,0.0,Other,0,0,0,0,0,0,0,Not started
999,1000,120161,Sophomore,FAA,None,Music Technology,None,None,None,0.0,0.0,Other,0,0,0,0,0,1,0,Started